In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00571/hcvdat0.csv", index_col=0)

In [3]:
df.head()

        Category  Age Sex   ALB   ALP  ...    CHE  CHOL   CREA   GGT  PROT
1  0=Blood Donor   32   m  38.5  52.5  ...   6.93  3.23  106.0  12.1  69.0
2  0=Blood Donor   32   m  38.5  70.3  ...  11.17  4.80   74.0  15.6  76.5
3  0=Blood Donor   32   m  46.9  74.7  ...   8.84  5.20   86.0  33.2  79.3
4  0=Blood Donor   32   m  43.2  52.0  ...   7.33  4.74   80.0  33.8  75.7
5  0=Blood Donor   32   m  39.2  74.1  ...   9.15  4.32   76.0  29.9  68.7

[5 rows x 13 columns]

# Test Train Split

In [ ]:
!pip install -U scikit-learn

In [18]:
from sklearn.model_selection import train_test_split

## NOTE: 
train-test-split does not work for time series data

need own functions for that

In [ ]:
# X, y
# X_train, y_train, X_test, y_test = train_test_split (X=X, y=y,...)

In [19]:
df_train, df_test = train_test_split (df, test_size=0.2, )

In [20]:
df_train.shape, df_test.shape

((492, 13), (123, 13))

In [21]:
df_train.reset_index(drop=True, inplace=True)

In [ ]:
# ML models do not like missing values - deal w/ these first
#any(f_train.isnull())

# Dealing w/ missing values
## Option 1
Can drop the entire observation if there is NaN

`df.dropna(subset=feature_target_list)`

## Option 2
Can drop the entire feature

`df = df[['feature']]`

## Option 3
Can use mean if the feature supports it (continuous/numeric)
        `df_train.fillna(df_train.mean())`
or median
        `df_train.fillna(df_train.median())`

Categorical data is an issue, have to group/count/pick max?

        `df_train.groupby('sex').count()`


## Option 4
Impute the values

        `from sklearn.impute import SimpleImputer
         import numpy as np

         mean_filler = SimpleImputer(missing_values = np.nan, strategy='mean')
         # use diff strategy for categorical data (like gender)
         freq_filler = SimpleImputer(strategy='most_frequent')

         # Fit step: computes means for cols
         freq_filler.fit_transform(df[[]])

         # compute means for cols - select the numerical columns only!
         mean_filler.fit(X=df[['a','b','d',...]])
         mean_filler.fit_transform(X=df_train[['a','b','d',...]]).

         #filling w/ the means for the cols

In [23]:
from sklearn.impute import SimpleImputer
import numpy as np

In [26]:
df_train.head()

        Category  Age Sex   ALB   ALP  ...    CHE  CHOL  CREA    GGT  PROT
0  0=Blood Donor   50   f  39.9  80.5  ...   9.25  7.41  84.0   19.4  71.2
1  0=Blood Donor   51   f  46.3  70.5  ...   7.68  4.73  69.0   52.2  78.3
2  0=Blood Donor   41   m  44.7  74.9  ...  10.34  4.23  74.0   23.7  72.1
3  0=Blood Donor   47   m  46.2  63.0  ...   7.06  5.23  60.0   26.6  75.4
4     2=Fibrosis   40   m  39.0  43.1  ...   9.64  4.20  70.9  127.3  81.3

[5 rows x 13 columns]

In [28]:
df_train.columns

Index(['Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE',
       'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

In [24]:
# Create a 'filler' that uses mean of the column
mean_filler = SimpleImputer(missing_values = np.nan, strategy='mean')
# Must use diff strategy for categorical data (like gender)
freq_filler = SimpleImputer(strategy='most_frequent')

In [30]:
# Fit: computes means for columns - select numerical columns only!
mean_filler.fit_transform(df[['Age', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE',
       'CHOL', 'CREA', 'GGT', 'PROT']])

array([[ 32.       ,  38.5      ,  52.5      , ..., 106.       ,
         12.1      ,  69.       ],
       [ 32.       ,  38.5      ,  70.3      , ...,  74.       ,
         15.6      ,  76.5      ],
       [ 32.       ,  46.9      ,  74.7      , ...,  86.       ,
         33.2      ,  79.3      ],
       ...,
       [ 64.       ,  29.       ,  87.3      , ...,  66.7      ,
         64.2      ,  82.       ],
       [ 46.       ,  33.       ,  68.2839196, ...,  52.       ,
         50.       ,  71.       ],
       [ 59.       ,  36.       ,  68.2839196, ...,  67.       ,
         34.       ,  68.       ]])

In [36]:
# Transform: insert the means for columns with holes
mean_filler.fit_transform(X=df_train[['Age', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE',
       'CHOL', 'CREA', 'GGT', 'PROT']])

array([[50. , 39.9, 80.5, ..., 84. , 19.4, 71.2],
       [51. , 46.3, 70.5, ..., 69. , 52.2, 78.3],
       [41. , 44.7, 74.9, ..., 74. , 23.7, 72.1],
       ...,
       [37. , 39.2, 58.1, ..., 72. , 15.6, 70.7],
       [48. , 37.5, 88.3, ..., 61. , 12.3, 67.9],
       [34. , 36.2, 70.9, ..., 65. , 27.4, 74.3]])

In [37]:
# Fit the categorical filler
freq_filler.fit(X=df_train[['Category', 'Sex']])

SimpleImputer(strategy='most_frequent')

In [ ]:
# And apply the fitted values to df_train
freq_filler.fit_transform(X=df_train[['Category', 'Sex']])